.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .portfolio-item-wrapper {
    position: relative;
    overflow: hidden;

    .portfolio-img-background {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 350px;
      width: 100%;
      transition: 0.75s ease-in-out;
    }

    .image-blur {
      transition: 0.75s ease-in-out;
      filter: brightness(10%);
    }

    .img-text-wrapper {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      text-align: center;
      transition: 0.75s ease-in-out;
      transform: translateY(33px);

      &:hover {
        transform: translateY(0px);
      }

      &:hover .subtitle {
        color: $teal;
        font-weight: 400;
      }

      .logo-wrapper {
        padding: 0px 100px;
      }

      .logo-wrapper img {
        width: 50%;
      }

      .subtitle {
        margin-top: 20px;
        transition: 0.75s ease-in-out;
        color: transparent;
      }
    }
  }
}
